<!-- HEADER -->

<%- include('common/header.ejs') %>
    <!-- HEADER SECTTION END -->

    <div class="world-container">
        <!------------------------------------ <video start> ----------------------------------->

        <div class="container-fluid bg-dark">
            <video autoplay loop muted width="100%">
                <source src="assets/image/video.mp4" type="video/mp4">
            </video>
        </div>

        <!-------------------------------- <video end> ----------------------------------------->


        <!-- <explore world start> -->


        <div class="service mt-5">
            <div class="services  py-5 ">
                <div class="container-fluid text-center " id="service">
                    <div class="headline">
                        <img src="assets/image/worldhead1.png" alt="" width="55%" height="100px"data-aos="fade-up" data-aos-offset="250">
                    </div>
                    <div class="row py-5 mt-5 ms-5">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">

                            <div class="card  mb-4 bg-dark border border-dark border-4"
                                style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;"
                                id="cloud "data-aos="zoom-out-right" data-aos-offset="250">
                                <img src="assets/image/bangkok.jpg" class="card-img-top  " alt="..."
                                    style="height: 300px;  border-top-right-radius: 50px;  ">
                                <div class="card-body">
                                    <h4 class="card-title text-white mb-3">Bangkok - Rs 2,99,999/-</h4>
                                    <p class="card-text text-black">
                                        <a href="/world"
                                            class="btn btn-light btn-lg">Explore->>></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                            <div class="card  mb-4 bg-dark border border-dark border-4"
                                style="width: 27rem;  border-radius:50px;"data-aos="zoom-out-down" data-aos-offset="250">
                                <img src="assets/image/thailand.jpg" class="card-img-top  " alt="..."
                                    style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
                                <div class="card-body ">
                                    <h4 class="card-title text-white mb-3">Thailand - Rs 2,31,999/-</h4>
                                    <p class="card-text text-black">
                                        <a href="/world"
                                            class="btn btn-light btn-lg">Explore->>></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                            <div class="card  mb-4 bg-dark border border-dark border-4"
                                style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="zoom-out-left" data-aos-offset="250">
                                <img src="assets/image/england.JPG" class="card-img-top  " alt="..."
                                    style="height: 300px; border-top-left-radius: 50px; ">
                                <div class="card-body  ">
                                    <h4 class="card-title text-white mb-3">England - Rs 3,21,499/-</h4>
                                    <p class="card-text text-black">
                                        <a href="/world"
                                            class="btn btn-light btn-lg">Explore->>></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="services">
            <div class="container-fluid text-center " id="service">

                <div class="row  ms-5">
                    <% if(packgedata.length>0){%>
                        <%for(var i=0; i<packgedata.length; i++){%>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">

                        <div class="card  mb-4 bg-dark border border-dark border-4"
                            style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;"
                            id="cloud "data-aos="zoom-out-right" data-aos-offset="250">
                            <img src ="http://localhost:8080/upload/<%= packgedata[i].fileupload %>" height="300px" >
                               
                            <div class="card-body">
                                <h4 class="card-title text-light "><%= packgedata[i].packagename %></h4>
                                <h2><a href="/packagedetails/<%=packgedata[i]._id %>">viewmore</a></h2>
                                <p class="card-text text-black">
                                    <a href="/world"
                                        class="btn btn-light btn-lg">Explore->>></a>
                            </div>
                        </div>

                    </div>
                    <% } %>
    
                    <% } else {%>
                        no record found
                    <% } %>

                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card  mb-4 bg-dark border border-dark border-4"
                            style="width: 27rem;  border-radius:50px;"data-aos="zoom-out-up" data-aos-offset="250">
                            <img src="assets/image/italy.jpg" class="card-img-top  " alt="..."
                                style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
                            <div class="card-body ">
                                <h4 class="card-title text-white mb-3">Italy - Rs 4,49,999/-</h4>
                                <p class="card-text text-black">
                                    <a href="/world"
                                        class="btn btn-light btn-lg">Explore->>></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card  mb-4 bg-dark border border-dark border-4"
                            style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="zoom-out-left" data-aos-offset="250">
                            <img src="assets/image/spain.jpg" class="card-img-top  " alt="..."
                                style="height: 300px; border-top-left-radius: 50px; ">
                            <div class="card-body  ">
                                <h4 class="card-title text-white mb-3">Spain - Rs 3,33,999/-</h4>
                                <p class="card-text text-black">
                                    <a href="/world"
                                        class="btn btn-light btn-lg">Explore->>></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- world end -->

        <!----------------------- autoplay images start --------------------------->
        <div class="auto">
            <div class="d-flex flex-row mb-3 bg-dark ">
                <div class="pt-2"data-aos="fade-right" data-aos-offset="250"><img src="assets/image/main13.jpg" alt="" height="450px" width="400px"></div>
                <div class="p-2"data-aos="fade-up" data-aos-offset="250"><img src="assets/image/world.jpg" alt="" height="450px" width="785px"></div>
                <div class=" pt-2"data-aos="fade-left" data-aos-offset="250"><img src="assets/image/main14.jpg" alt="" height="450px" width="400px"></div>

            </div>
        </div>

        <!----------------------- autoplay images end --------------------------->

        <!-- <explore world start> -->


        <div class="service mt-5">
            <div class="services  py-5 ">
                <div class="container-fluid text-center " id="service">

                    <div class="row py-5 mt-5 ms-5">
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">

                            <div class="card  mb-4 bg-dark border border-dark border-4"
                                style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;"
                                id="cloud "data-aos="zoom-out-right" data-aos-offset="250">
                                <img src="assets/image/switzerland.jpg" class="card-img-top  " alt="..."
                                    style="height: 300px;  border-top-right-radius: 50px;  ">
                                <div class="card-body">
                                    <h4 class="card-title text-white mb-3">Switzerland - Rs 2,99,999/-</h4>
                                    <p class="card-text text-black">
                                        <a href="/world"
                                            class="btn btn-light btn-lg">Explore->>></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                            <div class="card  mb-4 bg-dark border border-dark border-4"
                                style="width: 27rem;  border-radius:50px;"data-aos="zoom-out-up" data-aos-offset="250">
                                <img src="assets/image/indonesia.jpg" class="card-img-top  " alt="..."
                                    style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
                                <div class="card-body ">
                                    <h4 class="card-title text-white mb-3">Indonesia - Rs 2,31,999/-</h4>
                                    <p class="card-text text-black">
                                        <a href="/world"
                                            class="btn btn-light btn-lg">Explore->>></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                            <div class="card  mb-4 bg-dark border border-dark border-4"
                                style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="zoom-out-left" data-aos-offset="250">
                                <img src="assets/image/newzealand.jpg" class="card-img-top  " alt="..."
                                    style="height: 300px; border-top-left-radius: 50px; ">
                                <div class="card-body  ">
                                    <h4 class="card-title text-white mb-3">New-Zealand - Rs 3,21,499/-</h4>
                                    <p class="card-text text-black">
                                        <a href="/world"
                                            class="btn btn-light btn-lg">Explore->>></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="services">
            <div class="container-fluid text-center " id="service">

                <div class="row  ms-5">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">

                        <div class="card  mb-4 bg-dark border border-dark border-4"
                            style="width: 27rem;  border-top-right-radius: 50px;  border-bottom-left-radius: 50px;"
                            id="cloud "data-aos="zoom-out-right" data-aos-offset="250">
                            <img src="assets/image/dubai.jpg" class="card-img-top  " alt="..."
                                style="height: 300px;  border-top-right-radius: 50px;  ">
                            <div class="card-body">
                                <h4 class="card-title text-white mb-3">Dubai - 1,99,999/-</h4>
                                <p class="card-text text-black">
                                    <a href="/world"
                                        class="btn btn-light btn-lg">Explore->>></a>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card  mb-4 bg-dark border border-dark border-4"
                            style="width: 27rem;  border-radius:50px;"data-aos="zoom-out-up" data-aos-offset="250">
                            <img src="assets/image/usa.jpg" class="card-img-top  " alt="..."
                                style="height: 300px; border-top-left-radius:50px; border-top-right-radius:50px;">
                            <div class="card-body ">
                                <h4 class="card-title text-white mb-3">U.S.A - Rs 4,49,999/-</h4>
                                <p class="card-text text-black">
                                    <a href="/world"
                                        class="btn btn-light btn-lg">Explore->>></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-12">
                        <div class="card  mb-4 bg-dark border border-dark border-4"
                            style="width: 27rem;  border-top-left-radius: 50px;  border-bottom-right-radius: 50px;"data-aos="zoom-out-left" data-aos-offset="250">
                            <img src="assets/image/canada.jpg" class="card-img-top  " alt="..."
                                style="height: 300px; border-top-left-radius: 50px; ">
                            <div class="card-body  ">
                                <h4 class="card-title text-white mb-3">Canada - Rs 3,33,999/-</h4>
                                <p class="card-text text-black">
                                    <a href="/world"
                                        class="btn btn-light btn-lg">Explore->>></a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- world end -->

        <%- include('common/footer.ejs') %>

    </div>